{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1 class="text-center mb-4">Your Account Balance:</h1>
      <div class="text-center">
        <p class="h4">{{ balance }}</p>
      </div>

      <hr>

      <div class="text-center">
        <a href="{{ url_for('users.update_bank', uid=current_user.id) }}" class="btn btn-primary btn-lg">Update
          Balance</a>
      </div>

      <div class="text-center mt-3">
        <a href="{{ url_for('index.index') }}" class="btn btn-secondary">Go Back</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}