{% extends "base.html" %}

{% block content %}

<div class="container mt-5">
    <div class="pagination mt-4">
        {% if number > 1 %}
        <a href="{{ url_for('index.history_by_status', page=number-1)}}" class="btn btn-light">Prev</a>
        {% endif %}

        {% if number < pages %} <a href="{{ url_for('index.history_by_status', page=number+1)}}"
            class="btn btn-light ml-2">Next</a>
            {% endif %}
            <p><a href="{{ url_for('index.index') }}" type="button" class="btn btn-light">Go Home</a></p>
    </div>
    <div class="pagination mt-4">
        <p><a href="{{ url_for('index.history',page=1) }}" type="button" class="btn btn-light ml-2">Default Sort</a></p>
        <p><a href="{{ url_for('index.history_by_name',page=1) }}" type="button" class="btn btn-light ml-2">Sort by
                Name</a></p>
        <p><a href="{{ url_for('index.history_by_price',page=1) }}" type="button" class="btn btn-light ml-2">Sort by
                Price</a></p>
    </div>

    Displaying {{start}}-{{stop}} of {{total}} Results, Sorting by Status
    <h2>Your Purchase History:</h2>
    <table class='table table-hover table-bordered'>
        <thead class="thead-dark">
            <tr>
                <th scope="col">Purchase ID</th>
                <th scope="col">Seller ID</th>
                <th scope="col">Product Name</th>
                <th scope="col">Price</th>
                <th scope="col">Number of Items</th>
                <th scope="col">Time Purchased</th>
                <th scope="col">Status</th>
                <th scope="col">Link to Order</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for purchase in purchase_history%}
            <tr>
                <th scope="row">{{purchase.id}}</th>
                <th scope="row">{{purchase.sid}}</th>
                <td>{{purchase.name}}</td>
                <td>{{purchase.amount}}</td>
                <td>{{purchase.number_of_items}}</td>
                <td>{{humanize_time(purchase.time_purchased)}}</td>
                <td>{{purchase.status}}</td>
                <td>
                    <p><a href="{{ url_for('index.order_page', oid=purchase.id, page=number, sort='status') }}"
                            class="btn btn-light">Order Page</a></p>
                </td>
                <td>
                    <a href="{{ url_for('reviews.look_at_product_review_and_edit_product_review', uid = current_user.id, product_id = purchase.id) }}"
                        class="btn btn-primary">Add Review</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}