{% extends "base.html" %}

{% block content %}

<div class="container mt-4">
    <h2 class="mb-4">Submit or Edit Review</h2>
    <div class="mb-4">
        {% if product_review %}
        <h3>This is your current review:</h3>
        <table class="table table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Product ID</th>
                    <th scope="col">Seller ID</th>
                    <th scope="col">Rating</th>
                    <th scope="col">Review</th>
                    <th scope="col">Type</th>
                    <th scope="col">Image</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">{{ product_review[0].pid }}</th>
                    <td>{{ product_review[0].seller_id }}</td>
                    <td>{{ product_review[0].rating }}</td>
                    <td>{{ product_review[0].review }}</td>
                    <td>{{ product_review[0].typeshit }}</td>
                    {% if product_review[0].imagepath != "" %}
                    <td>
                        <img src="{{product_review[0].imagepath}}" alt="Review Image" width="200" height="200">
                    </td>
                    {% else %}
                    <td>No Image</td>
                    {% endif %}
                </tr>
            </tbody>
        </table>
        {% endif %}
    </div>

    <form
        action="{{ url_for('reviews.look_at_product_review_and_edit_product_review', uid=current_user.id, product_id=product_id) }}"
        method="POST">
        {{ form.hidden_tag() }}


        <div class="mb-4">
            <label for="new_review">{{ form.new_review.label }}</label>
            {{ form.new_review(size=32, class="form-control") }}
        </div>

        <div class="mb-4">
            <label for="new_rating">{{ form.new_rating.label }}</label>
            {{ form.new_rating(size=32, class="form-control") }}
        </div>

        <div class="mb-4">
            <label for="new_type">{{ form.new_type.label }}</label>
            {{ form.new_type(size=32, class="form-control") }}
        </div>

        {% if form.errors %}
        <div class="alert alert-danger" role="alert">
            {{ form.errors }}
        </div>
        {% endif %}

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>


    {% if product_review %} <p></p>
    <form action="{{url_for('reviews.upload_photo', product_review_id=product_review[0].id)}}" method="POST"
        enctype="multipart/form-data">
        <input type="file" name="file" />
        <input type="submit" value="Upload">
    </form>

    <p></p>

    <form action="{{url_for('reviews.remove_image_from_prod_review', product_review_id=product_review[0].id)}}"
        method="POST">
        <input type="submit" value="Delete Image" />

    </form>

    <p></p>

    <form
        action="{{url_for('reviews.delete_product_review', uid=product_review[0].uid, product_id = product_review[0].pid)}}"
        method="POST">
        <input type="submit" value="Remove Review" />

    </form>
    <p></p>
    {% endif %}
    <p><a href="{{ url_for('reviews.all_reviews', uid=current_user.id) }}" type="button" class="btn btn-light">Go See
            Your Review Summary</a></p>
    <p class="mt-4"><a href="{{ url_for('reviews.all_reviews', uid=current_user.id) }}" class="btn btn-light">Go
            Back</a></p>
    <button type="button" class="btn btn-light"
        onclick="window.location.href='{{ url_for('index.history',page=1) }}'">Your Purchased Items</button>

</div>

{% endblock %}